.div1 {

 		background-repeat: no-repeat;        
	            
	         display: flex;  
	     
	    justify-content:center;
		text-align: center;

}

.ion-content {


 background-image: url('../assets/img/fondo.jpg');
  -webkit-background-image: url('../assets/img/fondo.jpg');
		
}
.botonmenu {
background:#3D311D;
	top:50%;
 	width:100px;
	height:70px;
	
	text-align: center;
	 
  margin:10px
	
}

.title{

	top:0%;
	height: 0px;
	text-align: center;
}


.div2{
	
	 margin-left:  45px;
}
.div3{
	
	margin-right:  45px;
}





.salir-div{
    	position:relative;
}
.mi-div-abajo-derecha{
    position:absolute;
    bottom: -140px;
	right:20px;
}

.imagen{
	padding-top:  50px;
	text-align: center;
}